<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.georgesamuel.dubaihotels">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.WorkManagerActivity"></activity>
        <activity android:name=".ui.activities.PagingActivity"></activity>
        <activity android:name=".Hotels.ui.Dagger2Activity">

        </activity>
        <activity android:name=".ui.activities.RxJava.RxJavaActivity" />
        <activity android:name=".ui.activities.RxJava.RxJavaOperatorsActivity" />
        <activity android:name=".ui.activities.designPattern.StructuralDPActivity" />
        <activity android:name=".ui.activities.designPattern.AdapterDPActivity" />
        <activity android:name=".ui.activities.designPattern.FactoryDPActivity" />
        <activity android:name=".ui.activities.designPattern.ObserverDPActivity" />
        <activity android:name=".ui.activities.designPattern.BehavioralDPActivity" />
        <activity android:name=".ui.activities.designPattern.BuilderDPActivity" />
        <activity android:name=".ui.activities.designPattern.CreationalDPActivity" />
        <activity android:name=".ui.activities.designPattern.DesignPatternsActivity" />
        <activity android:name=".ui.activities.animation.LottieAnimationActivity" />
        <activity android:name=".ui.activities.animation.RGAnimationActivity" />
        <activity android:name=".ui.activities.animation.RVAnimationActivity" />
        <activity android:name=".ui.activities.animation.RecyclerViewAnimationActivity" />
        <activity android:name=".ui.activities.animation.DetailsActivity" />
        <activity android:name=".ui.activities.animation.SharedElementActivity" />
        <activity android:name=".ui.activities.animation.ShimmerAnimationActivity" />
        <activity android:name=".ui.activities.animation.AnimationResourcesActivity" />
        <activity android:name=".ui.activities.animation.AnimationActivity" />
        <activity android:name=".ui.activities.materialComponent.ChipsActivity" />
        <activity android:name=".ui.activities.materialComponent.BottomAppBarActivity" />
        <activity android:name=".ui.activities.materialComponent.MaterialDialogActivity" />
        <activity android:name=".ui.activities.materialComponent.MaterialComponentActivity"></activity>
        <activity android:name=".ui.activities.materialDesign.CoordinatorLayoutCustomBehaviorActivity" />
        <activity android:name=".ui.activities.materialDesign.CoordinatorLayoutDefaultBehavior" />
        <activity android:name=".ui.activities.materialDesign.ConstraintLayoutActivity" />
        <activity android:name=".Hotels.ui.DetailActivity" />
        <activity android:name=".Hotels.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>